/* Main rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    width: 100%;
}
:root{
    --main-color: #2196f3;
    --main-alt:#1787e0;
    --main-trans:.3s;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/* big container */
.b-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/* small media */
@media (min-width:768px){
    .b-container{
        width: 750px;
    } 
}
/* medium media */
@media (min-width:992px){
    .b-container{
        width: 970px;
    } 
}
/* large media */
@media (min-width:1200px){
    .b-container{
        width: 1170px;
    } 
}
/* end main rules */
/* start header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
.header .b-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header  .logo   {
    height: 72px;
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:767px){
    .header  .logo   {
        width: 100%;
        height: 40px;
        padding-top: 20px;
    }
}
.header .b-container .links{
    display: flex;
    /* flex: 1; */
    /* justify-content: end; */
}
@media(max-width:767px){
    .header .b-container .links   {
        margin: auto;
    }
}
.header .b-container .links  >li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 30px;
    color: black;
    transition: var(--main-trans);
    font-size: 18px;
    overflow: hidden;
}
@media(max-width:767px){
    .header .b-container .links >li >a{
        padding: 0 15px;
        font-size: 14px;        
    }
}
.header .b-container .links > li >a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: -100%;
    transition: var(--main-trans);
}
.header .b-container .links > li > a:hover  {
    background-color: #fafafa;
    color: var(--main-color);
}
.header .b-container .links >  li > a:hover::before  {
    left: 0;
}

.mega{
    position: absolute;
    background-color:white;
    width: 100%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    justify-content: space-around;
    gap: 2px;
    z-index: -1;
    top: calc(100% + 60px);
    opacity: 0;
    transition: top .6s , opacity var(--main-trans);
}
@media(max-width:767px){
 .mega{
     flex-direction: column;
 }
}
.other:hover .mega{
    top: calc(100%  + 3px);
    opacity: 1;
    z-index: 100;
}

.mega .mg-link{
    min-width: 250px;
} 
.mega .mg-link li{
    position: relative;
}
.mega .mg-link li::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transition: var(--main-trans);
}
.mega .mg-link li:hover::before{
    width: 100%;
}
.mega .mg-link a{
    color:var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
}
.mega .mg-link a i{
    margin-right: 15px;
}
.mega .img img{
    max-width:100%;
    
}
@media(max-width:991px){
    .mega .img{
        display: none;
    }   
}
/* end header */
/* start landong */
.landing{
    position: relative;    
}
.landing::before{
    content: "";
    left: 0;
    top: -20px;
    position: absolute;
    width: 100%;
    height: 103%;
    background-color: #f7f7f7;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .b-container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
@media(max-width:767px){
    .landing .b-container{
    min-height: calc(100vh - 112px);
    }
}
.landing .text{
    flex: 1;
    /* width: calc(100% - 600px); */
}
.landing .text h1{
    font-size: 40px;
    margin-bottom: 0;
    letter-spacing: -1.5px;
}
.landing .text p{
    font-size: 21px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #777;
}
@media(max-width:767px){
    .landing .text h1{
        font-size: 28px; 
    }
.landing .text p{
    font-size: 18px;
}
}

.landing img{
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-down 5s linear infinite;
}
.landing .go-down{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    transition: var(--main-trans);
}
.landing .go-down i{
    position: relative;
    color: var(--main-color);
    animation: bouncing 1.5s infinite;
}
.landing .go-down i:hover{
    color: var(--main-alt);
}
#a7rb{
    color: var(--main-color);
}

/* end landong */

/* start animation */
@keyframes up-down{
    0%,100%{
        top: 0;
    }
    50%{
        top:-30px;
    }
}
@keyframes bouncing{
    0%, 20%, 50%, 80%, 100%{
        top: 0;
    }
    40%, 60%{
        top: -20px;
    }
}
/* end animation */